body {
    padding: 0;
    margin: 0;
    background-image: url('project bg.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;

}

.main {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

img {
    width: 220px;
    height: 200px;
    margin-left: 50px;
}
p{
    color: white;
}

.first {
    border: solid rgb(14, 13, 13);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
   box-shadow: rgb(15, 13, 13) 2px 2px 2px;
   background-color: rgba(1, 1, 1, 0.3);
}
.first:hover{
    transform: translateY(-20px);
}
.second {
    border: solid rgb(6, 5, 5);
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgb(15, 13, 13) 2px 2px 2px;
    background-color: rgba(1, 1, 1, 0.3);
}
.second:hover{
    transform: translateY(-20px);
}
.third {
    border: solid rgb(6, 5, 5);
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgb(15, 13, 13) 2px 2px 2px;
    background-color: rgba(1, 1, 1, 0.4);
}
.third:hover{
    transform: translateY(-20px);
}
h1{
    font-family: 'Climate Crisis', sans-serif;
   margin-left: 80px;
}
h5{
    padding-top: 10px;
}
